/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  height: 100%;
  /*background-color: #333;*/
  /* The image used */
  background-image: url("../images/cover1.jpg");
  overflow-x: hidden;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
