{% extends "layout.html" %}
{% block content %}



<div class="masthead clearfix">
  <div class="inner">
    <!--<h3 class="masthead-brand">Cover</h3>-->
    <nav>
      <ul class="nav masthead-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/submit">Recommender</a></li>
        <li class="active"><a href="/about">About</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="inner cover">
  <h1 class="cover-heading">For more information about this project or to connect, please see linkedin and github links.</h1>
  <p align="center">
    <img src="../static/images/hs.png" width='400'/>
  </p>
  <p align="center">
    <img src="../static/images/GHlogo.png" width='300' href="https://www.linkedin.com/in/connorslagle/"/>
    <img src="../static/images/LIlogo.jpg" width='300' href="https://github.com/connorslagle/homes-like-this/blob/master/README.md"/>
  </p>
</div>

{% endblock content %}