{% extends "cover_base.html" %}
{% block content %}

<div class="masthead clearfix">
  <div class="inner">
    <!--<h3 class="masthead-brand">Cover</h3>-->
    <nav>
      <ul class="nav masthead-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/recommender">Recommender</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="inner cover">
  <h1 class="cover-heading">Style-based Real Estate Recommender</h1>
</div>

<div class="mastfoot">
  <div class="inner">
    <p>Data application by <a href="http://www.linkedin.com/in/connorslagle">Connor Slagle</a>.</p>
  </div>
</div>

{% endblock content %}