{% extends "layout.html" %}
{% block content %}

<div class="masthead clearfix">
  <div class="inner">
    <!--<h3 class="masthead-brand">Cover</h3>-->
    <nav>
      <ul class="nav masthead-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/submit">Recommender</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="inner cover">
  <h1 class="cover-heading">Submit image for recommendations</h1>
  <form method=post enctype=multipart/form-data>
      <input class="btn btn-lg" type=file name=file>
      <input class="btn-default btn-lg" type=submit value="See Recommendations">
  </form>
</div>


{% endblock content %}